*{
  margin: 0;
  padding: 0;
}

.title{
  font-size: 20px;
}

.select{
  width: 100px;
  height: 20px;
}

.btn{
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #000;
}