

$blue2: #80BEFD;
$blue1: #3399FF;
$gray: #EAEFF2;
$textGray: #8F9DA5;

.capacity_table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  .capacity_table_content {
    font-size:0.24rem;
    font-family: 'PingFangSC-Regular';
    color: #2E3236;
    line-height:0.24rem;
    margin-top: 0.2rem;
    .capacity_item {
      margin-top: 0.4rem;
      display: flex;
      justify-content: flex-end;
      .capacity_text {
        margin-right: 0.2rem;
      }
      .box_container {
        display: flex;
        height: 0.2rem;
        width: 4.74rem;
        align-items: center;
        justify-content: space-around;
        position: relative;
        .box {
          width: 1.52rem;
          height: 0.2rem;
          background-color: $gray;
        }
        #grade {
          width: 1.52rem;
          height: 0.32rem;
          position: absolute;
          top: -0.06rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size:0.22rem;
          font-family:PingFangSC-Regular;
          color:rgba(255,255,255,1);
          line-height:0.32rem;
        } 
        .grade1 {
          left: 0.04rem;
          background-color: #ACD3F9;
        }
        .grade2 {
          left: 1.62rem;
          background-color: #7CBDFD
        }
        .grade3 {
          left: 3.2rem;
          background-color: #3399FF;
        }
      }
    }
  }
}
