$blue1: #3399FF; 
$gray: #EAEFF2;
$textGray: #8F9DA5;
$bgGray: #F7F8FA;
$text: #2E3236;



.report_container {
  background-color: $bgGray;
  font-family: 'PingFangSC-Regular';
  .report-top {
    background-color: rgba(255,255,255,1);
    .top-content {
      background-image: url('./assets/report_bg1.png');
      height: 2.92rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .top_text1 {
        font-size:0.96rem;
        font-family:PingFangSC-Semibold;
        color:rgba(255,255,255,1);
        line-height:0.96rem;
        margin-bottom: 0.24rem;
      }
      .top_text2 {
        font-size:0.22rem;
        font-family:PingFangSC-Regular;
        color:rgba(255,255,255,1);
        line-height:0.32rem;
      }
  
    }
  }
  .evaluate {
    padding: 0.3rem 0.3rem 0.6rem;
    background-color: rgba(255,255,255,1);
    font-family: 'PingFangSC-Regular';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .evaluate_title {
      text-align: center;
      color: $textGray;
      font-size:0.24rem;
      line-height:0.24rem;
    }
    .evaluate_content {
      margin-top: 0.3rem;
      font-size: 0.28rem;
      color: rgba(46,50,54,1);
      line-height: 0.4rem;
    }
    .evaluate_img {
      margin-top: 0.4rem;
      font-size:0.22rem;
      color:rgba(255,255,255,1);
      line-height:16px;
      width:1.66rem;
      height:0.48rem;
      background:rgba(46,50,54,0.9);
      border-radius:0.06rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .triangle {
      width: 0;
      height: 0;
      border-color: rgba(46,50,54,0.9) transparent   transparent transparent;
      border-style: solid;
      border-width: 0.1rem;
    }
  }
  .accuracy {
    padding: 0.3rem 0.3rem 0.6rem;
    margin-top: 0.2rem;
    background-color: rgba(255,255,255,1);
    .accuracy_title {
      text-align: center;
      color: $textGray;
      font-size:0.24rem;
      line-height:0.24rem;
    }
    .accuracy_content {
      margin-top: 0.3rem;
      font-size: 0.28rem;
      font-family: PingFangSC-Regular;
      color: rgba(46,50,54,1);
      line-height: 0.4rem;
      padding-bottom: 0.3rem;
      border-bottom: solid 0.02rem $gray;
    }
    .accuracy_img {
      margin-top: 1.08rem;
    }
  }
  .capacity {
    padding: 0.3rem 0.3rem 0.6rem;
    margin-top: 0.2rem;
    background-color: rgba(255,255,255,1);
    .capacity_title {
      text-align: center;
      color: $textGray;
      font-size:0.24rem;
      line-height:0.24rem;
    }
    .capacity_content {
      margin-top: 0.3rem;
      font-size: 0.28rem;
      font-family: PingFangSC-Regular;
      color: rgba(46,50,54,1);
      line-height: 0.4rem;
      padding-bottom: 0.3rem;
      border-bottom: solid 0.02rem #EAEFF2;
    }
    .capacity_img {
      margin-top: 1.08rem;
    }
  }
  .speed {
    padding: 0.26rem 0.3rem 0.28rem;
    margin-top: 0.2rem;
    background-color: rgba(255,255,255,1);
    .speed_title {
      text-align: center;
      color: $textGray;
      font-size:0.24rem;
      line-height:0.24rem;
    }
    .speed_content {
      margin-top: 0.3rem;
      font-size: 0.28rem;
      font-family: PingFangSC-Regular;
      color: rgba(46,50,54,1);
      line-height: 0.4rem;
      padding-bottom: 0.3rem;
    }
  }
}