$smartImgPrefix: "./assets/smart-vip-";
$smartImgLength: 7;
$imgSize: 1.1;

.pri-list{
  padding-bottom: 0.7rem;
  .item{
    padding-top: 0.5rem;
    .pri-title{
      color: #000;
      text-align: center;
      font-size: 0.32rem;
      font-weight: normal;
      margin: 0.22rem 0;
    }
    .pri-img{
      display: block;
      width: $imgSize + rem;
      height: $imgSize + rem;
      margin: 0 auto;
      background-image: url("./assets/smart-vip.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .pri-desc{
      display: -webkit-box;
      width: 70%;
      margin: 0 auto;
      color: #7a848a;
      font-size: .27rem;
      overflow: hidden;
      text-align: center;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
  }
}

@function getPrefix ($number) {
  @return 0.08rem  (-$imgSize * ($number - 1)) + rem;
}

@for $i from 1 to $smartImgLength + 1 {
  .pri-list .item:nth-child(#{$i}) .pri-img{
    background-position: getPrefix($i);
  }
}